extends layout

block content
  h1 Create a Dashboard 
  form(action='create-dashboard', method='post')
  | Dashboard Name:
  input(type='text', placeholder='Company Dashboard')
  input(type='submit', value='Submit')
